# PostgreSQL Config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=wms_dev
POSTGRES_HOST=100.103.204.118

# MinIO (S3) Config
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=wms-bucket
MINIO_PUBLIC_URL=https://s3.bulog.my.id
MINIO_BROWSER_REDIRECT_URL=https://wms.bulog.my.id

# JWT Authentication Secret
JWT_SECRET=super-secret-bulog-wms-key

# SMTP (Email) Configuration
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_USER="radityafiqa4@gmail.com"
SMTP_PASS="gjrg nudt haqr mygw"
SMTP_SECURE="true"
SMTP_FROM=Bulog WMS <radityafiqa4@gmail.com>

# Frontend & API Port Configuration
PORT_API=3002
PORT_WEB=3001

# URLs
NEXT_PUBLIC_API_URL=https://wms.bulog.my.id/api
FRONTEND_URL=https://wms.bulog.my.id